name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build libncore
      run: |
           curl -OL https://ziglang.org/download/0.15.2/zig-x86_64-linux-0.15.2.tar.xz
           tar -xvf zig-x86_64-linux-0.15.2.tar.xz
           ./zig-x86_64-linux-0.15.2/zig build -Dtarget=aarch64-linux-android
       
    - name: Upload Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: libncore
        path: zig-out/lib/*.so
