name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build libncore
      run: |
           sudo snap install zig --classic --beta
           zig build -Dtarget=aarch64-linux-android
       
    - name: Upload Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: libncore
        path: zig-out/lib/*.so
